* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(yellow, #0ff, #60f, yellow );
    color: #000;
    
}

.important {
    background-color: blue;
    color: #0ff;
    padding: 10px;
}
